:root {
  --primary-color: #c7cef5;
  --secondary-color: #0f0e0f;
  --third-color: #f9f7fe;
  --branding-color: #8c888f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: White;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 40px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-panel {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 25px;
  margin-left: 50px;
}
.home-page-img {
  border-radius: 5px;
  object-fit: fit;
  text-align: right;
}

.panel-odd {
  background: var(--third-color);
  padding: 120px 60px;
}
.panel-odd h2 {
  color: black;
  text-align: center;
}
.panel-odd p {
  color: var(--secondary-color);
}

.panel-even {
  background: var(--secondary-color);
  padding: 120px 60px;
}
.panel-even h2 {
  color: white;
  text-align: center;
}
.panel-even p {
  color: var(--third-color);
}
.footer-p {
  font-family: monospace;
  font-size: 10px;
}
@media (max-width: 769px) {
  .hero {
    padding: 80px, 20px;
  }
  .hero p {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 2;
  }
  .hero h2 {
    font-size: 12px;
  }
  .btn-branding {
    font-size: 11px;
    line-height: 5px;
    padding: 12px 20px;
  }
  .btn-branding-panel {
    font-size: 12px;
    line-height: 5px;
    margin: 0;
  }
  .panel-even {
    padding: 20px 15px;
    margin-top: 10px;
  }
  .panel-even p {
    font-size: 12px;
  }
  .panel-even h2 {
    font-size: 18px;
  }
  .panel-odd {
    padding: 20px 15px;
    margin-top: 10px;
  }
  .panel-odd p {
    font-size: 12px;
  }
  .panel-odd h2 {
    font-size: 18px;
  }
  .about-section h1 {
    font-size: 48px;
  }
  .profile-img {
    border: 1px solid var(--branding-color);
  }
  .about-section {
    background-color: var(--secondary-color);
    padding: 80px 40px;
  }
}

.about-section {
  background-color: var(--secondary-color);
  padding: 180px 40px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
}
.about-section p {
  font-family: var(--default-font-family);
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  color: var(--primary-color);
}
.profile-img {
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  border: 3px solid var(--branding-color);
}
